<div id="content">
    <div id="document-menu">
        <ul class="nav well">
            <li class="nav-header">THIS COMPUTER</li>
            <li>
                <div class="header nav-list-entry">
                    <a href="#">
                        <span>My Repositories</span>
                    </a>
                </div>
            </li>
            <li class="nav-header">DOCDOKUPLM.net</li>
            <li>
                <div class="header nav-list-entry">
                    <a>
                        <span id="dplm">DPLM</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div id="document-content">Content</div>
</div>